apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: bankofanthos-ingress
  namespace: default
spec:
  ingressClassName: nginx
  rules:
    - host: bankofanthos.local
      http:
        paths:
          - path: /
            pathType: Prefix
            backend:
              service:
                name: frontend
                port:
                  number: 80